.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.image-container img {
    width: 100%;
    border: 2px solid black;
}
.lottery-button {
    margin-top: 20px;
}

.image-wrapper {
    position: relative;
    margin-bottom: 15px;
}

.check-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://s3.us-east-2.amazonaws.com/myownfairytale.com/images/check-circle-fill.svg') no-repeat center;
    background-size: 50%; /* Adjust size of the checkmark */
    opacity: 0; /* Hidden by default */
}

.selected .check-overlay {
    opacity: 0.3; /* Show checkmark for selected images */
}

.selected svg {
    fill: #28a745;
}
